div(class='input_wrapper')
  label(for= id) #{label}
  input(
    id= id
    type= type
    name= name
    placeholder= placeholder
    required= required
    pattern= pattern
    maxLength= maxLength
    minLength= minLength
    class= className
    disabled= disabled
  )
  div(class='input-error hidden') #{error}